ctranslate2
faster-whisper==1.0.3
ffpyplayer
huggingface-hub
numpy==2.2.1
opencv-python==4.10.0.84
Pillow
pyautogui
PyAudio==0.2.14
pyinstaller
pynput
pystray
tqdm
pytest
pylint
pyright
requests==2.32.3
pygame==2.6.1
kokoro-onnx==0.4.9
webrtcvad-wheels
webrtcvad==2.0.10
PySide6
portalocker>=2.10.0
chromadb>=0.4.24
langchain-core>=0.2.23,<0.3
langgraph>=0.1.14
